{% extends template('page-layout-checkout', 'CheckoutPage') %}

{% define data = {
    stepNumder: 2,
} %}

{% block containerClass %}container--medium{% endblock %}

{% define data = {
    backUrl: _view.previousStepUrl,
    forms: {
        orderName: _view.orderNameForm,
    },

    title: 'checkout.step.order_name.title' | trans,
} %}

{% block content %}
    {% embed molecule('form') with {
        modifiers: ['checkout-form'],
        data: {
            form: data.forms.orderName,
            options: {
                attr: {
                    id: 'order-name-form',
                },
            },
            submit: {
                enable: true,
                text: 'checkout.step.order_name' | trans,
                class: 'form__action--expand-sm-md button button--big',
            },
            cancel: {
                enable: true,
                url: data.backUrl,
                text: 'general.back.button' | trans,
                icon: '',
                class: 'form__action--expand-sm-md button button--big button--hollow-icon button--back',
            },
        },
    } only %}

    {% block description %}
        <div class="{{ config.name }}__description">
            {{ 'checkout.step.order_name.text' | trans }}
        </div>
    {% endblock %}

    {% endembed %}
{% endblock %}
